{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form action="/gpt/request" method="post">
        <p>
            <label for="lists[0]">List Name:</label>
            <input type="text" id="lists[0]" name="lists[0]" value="test list">
        </p>
        <p>
            <label for="list_values[0][0]">List Value:</label>
            <input type="text" id="list_values[0][0]" name="list_values[0][0]" value="one">
        </p>
        <p>
            <label for="list_values[0][1]">List Value:</label>
            <input type="text" id="list_values[0][1]" name="list_values[0][1]" value="two">
        </p>
        <p>
            <label for="list_values[0][2]">List Value:</label>
            <input type="text" id="list_values[0][2]" name="list_values[0][2]" value="three">
        </p>

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
