body {
  background-color: #f9f9f9;
}

.assistant_response {
  background-color: white;
}

.response {
  white-space: pre-line;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.btn-pos {
  position:relative;
  z-index:1;
  left: -36px;
}
